body {
background: #151720;
}

.clearfix {
    clear: both;
}

#wrapper {
    width: 727px;
    overflow: auto;
    margin: 0px auto;
    background: #222;
    padding-bottom: 0px;
    border-radius: 20px;
}
#gameBoard {
    width: 710px;
}


.field {
    float: left;
    margin: 0px;
    margin-left: -15px;
    height: 50px;
    width: 50px;
    border-radius: 20px;
    background: #555;
    padding: 0;
    list-style-type: none;
    text-align: center;
}
