body {
background: #151720;
}
#content-wrapper{}
#lobby-wrapper{}
#message{}
#game_wrapper{}
#game_buttons_wrapper{}
#replay_buttons_wrapper{}
/* This is ul so it has padding */
#board_wrapper{

}
.valid_field {
    float: left;
    border-radius: 50px;
    padding: 0;
    list-style-type: none;
    text-align: center;
}
.not_valid_field {
    float: left;
    padding: 0;
    list-style-type: none;
    text-align: center;
}
.HoverClass:hover {
    cursor: grab;
    background: red; /*//TODO why not work */
}
.clearfix {
    clear: both;
}